@media screen and (max-width:900px){

    .principal img{
        height: 14%;
        width: 95%;
    }    

    .sub{
        width: 50vh;
        background-repeat: repeat;
    }

    .Menu img{
        padding-top: 1em;
        height: 14%;
        width: 32%;
    }

}  

@media Screen and (max-width:425px){

    


}
    

*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'MinecraftiaRegular';
        font-weight: normal;
        font-style: normal;
	}
	body{
		background: #1c1c1c;
	}

	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 4.5em;
		position: fixed;
		top: 0;left: 0;
        z-index: 10;
        background: rgba(0,0,0,0.5);
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:4.5em;
        text-shadow: 5px 5px 5px black;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
        text-shadow: 5px 5px 5px black;
	}
	.container .menu{
		float: right;
		line-height: 4.5em;
        
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 20px;
		margin-right: 5px;
        text-shadow: 5px 5px 5px black;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
        
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
        z-index: 10;
		position: fixed;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}

	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}

	.cont-menu nav{
		transform: translateY(15%);
	}

	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}

	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}

	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

	/*Fin de Menù lateral*/

    /* FONDO NUBES Y CESPED */
    .principal {
        height: 100%;
        height: 100vh;
        background: url(https://media.discordapp.net/attachments/738225085458022432/886088748268421180/FondoInicial.jpg)no-repeat center center;

        display: flex;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .principal img{
    
        display: block;
        margin: auto;
    }

/* SUBTERRANEO */

    .Sub{
        background: url(https://media.discordapp.net/attachments/738225085458022432/886088774180814889/Subterraneo.jpg);
        background-repeat: repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }


    .Titulos{
        width: 100%;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    .Titulos h1{
        font-family: 'MinecraftiaRegular';
        font-weight: normal;
        font-style: normal;
        display: block;
        text-align: center;
        color: white;
        -webkit-text-stroke: .5px black;
        text-shadow: 5px 5px 5px black;  
    }

.galeria {

    padding-top: 40px;
    display: flex;
    width: 88%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
                                                
}
.foto {
    width: 22em;
    height: 22em;
    position: relative;
    margin-bottom: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    transition: 0.6s ease;
}
.galeria .foto:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    
}

.foto img {
    width: 22em;
    height: 22em;
    min-width: 80%;
    object-fit: cover;
    border-radius: 5px;
    
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
    width: 100%;
    height: 0;
    transition: 0.55s ease;
    overflow: hidden;
}
.overlay h2 {
    color: #ffffff;
    font-size: 25px;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;  
    text-shadow: 5px 5px 5px black;     
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.foto:hover .overlay {
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: solid;
    border-color: #DC2B50;
}


/*---------------------*/

.contenedor-modal.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.contenedor-modal.active img {
    z-index: 3;
    width: 100%;
    height: 100%;
}

.contenedor-modal.active::after {
    position: fixed;
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.459);
}
